{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-signin'}}) }}
    <h1 class="text-center">Sign up</h1>
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-lg btn-primary btn-block"/>
    </div>
{{ form_end(form) }}

<div class="text-center login-link-wrapper"><a href="{{ path('fos_user_security_login') }}">Sign in</a></div>
